body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color : rgb(223, 217, 217);
    background-color: rgb(3, 3, 3);
}

a {
    color: rgb(223, 217, 217);
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.login-btn {
    border-radius: 20px;
    border: 1px solid #ffbc2b;
    background-color: transparent;
    color: rgb(223, 217, 217);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #ffbc2b;
    color : black;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}


.login-form {
    background-color: rgb(3, 3, 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    margin-top: 300px;
    
}

input {
    background-color: rgb(3, 3, 3);
    border: 1px solid #ffbc2b;
    box-shadow: 0 0 10px 0 #ffbc2b;
    border-radius: 20px;
    padding: 12px 15px;
    margin: 8px 8px;
    width: 30%;
    text-align: center;
    color : rgb(223, 217, 217);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
}

input:focus {
    outline: none;
}

.error {
	text-align: center;
}


  
  


